/*
* @Author: baicaihong 
* @Date:   2018-08-27 15:17:17
*/
body{overflow-x:hidden;overflow-y:auto;}
/* server start */
header{width: 100%;height: .96rem;line-height: .96rem;text-align: center;}
/* server end */
























